* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url('img/nightsky.jpg');
}
.main {
  text-align: center;
  padding: 1em;
  margin-top: 10em;
  background-color: grey;
  width: 20%;
  margin-left: 37em;
  border: solid;
  border-radius: 6px;
}

.links {
  text-decoration: none;
  color: white;
  display: inline;
  margin-top: 1em;
}
.links:hover {
  color: blue;
}

/* other pages */
.text {
  text-align: center;
  padding: 1em;
}

.space {
 padding-top: 1em;
}

#button1 {
  background-color: grey;
  cursor: pointer;
  padding: 1em;
  color: white;
}
#button1:hover {
  background-color: white;
  color: black;
}

.thermostat {
  width: 40%;
}

.sun {
  width: 20%;
  margin-left: 25%;
}
.ice {
  margin-left: 1%;
  width: 35.5%;
}
